/* Estilos generales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

main {
    width: 90%;
    align-items: center;
}

/* Estilos del cuerpo de la página */
header {
    display: flex;
    flex-wrap: wrap;
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
}

/* Estilos de las imágenes */
img {
    width: 100%;
}

/* Estilos del logo */
.logo {
    width: calc(50% - 10px);
    flex-grow: 0.5;
    max-width: calc(50% - 10px);
    margin-left: 10px;
}

/* Barra buscar */
form {
    width: calc(50% - 20px);
    flex-grow: 0.5;
    max-width: calc(50% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

/* Barra de búsqueda fin*/

/* Clase menú */
.burger-menu {
    width: 100%;
    text-align: center;
}

/* Modificar sólo el icono */
.burger-menu i {
    color: #fff;
    /* Cambiado a blanco */
    background-color: #1259c3;
    /* Cambiado a azul o celeste */
    padding: 5px;
    /* Agregado un padding de 3px */
    border-radius: 5px;
    /* Añadidas esquinas redondeadas */
}

body {
    text-align: center;
    background-color: #ebebeb;
    margin: 20px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    text-align: center;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #1259c3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0022AA;
}

.contenedor-central {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

footer {
    margin: 10px;
    text-align: center;
    background-color: white;
}

j {
    color: #1259c3;
}

/* Celulares */
@media (min-width: 361px) and (max-width: 768px) {
    .producto-titulo {
        display: none;
    }

    #descripciones {
        display: none;
    }

    nav {
        display: none;
    }

    article {
        flex-grow: 1;
        max-width: 100%;
    }
}

/* Tablets o dispositivos más grandes como Apple */
@media (min-width: 769px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 0.5;
        margin: 10px;
        max-width: calc(50% - 20px)
    }

    .burger-menu {
        display: none;
    }

    /* Estilos del logo */
    .logo {
        width: calc(33% - 10px);
        flex-grow: 0.5;
        max-width: calc(33% - 10px);
        /* Modificación aquí */
        margin-left: 10px;
    }

    /* Barra buscar */
    form {
        width: calc(33% - 10px);
        /* Modificación aquí */
        flex-grow: 0.5;
        max-width: calc(33% - 10px);
        /* Modificación aquí */
        margin-left: 10px;
        margin-top: 10px;
        margin-left: 10px;
    }

    #cuotas {
        width: calc(33% - 10px);
        /* Modificación aquí */
        flex-grow: 0.5;
        max-width: calc(33% - 10px);
        /* Modificación aquí */
        text-align: center;
    }

    /* Estilos para el nav */
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        display: flex;
        list-style: none;
        padding: 0;
    }

    nav ul li {
        margin: 0 5px;
        /* Ajusta el margen según tus preferencias */
    }

    nav ul.fondo {
        display: flex;
        align-items: end;
    }

    nav ul.fondo li {
        margin: 0 5px;
    }

    /* Ajusta el margen superior según tus preferencias */
    nav ul.fondo {
        margin-bottom: 10px;
    }
}


/* PC */
@media (min-width: 992px) {
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        flex-grow: 0.25;
        margin: 10px;
        max-width: calc(25% - 40px)
    }

    footer {
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }

    footer f {
        width: 30%;
        text-align: center;
    }

    footer j:hover i {
        color: #39b54a;
    }

    footer j {
        display: inline-block;
        margin-bottom: 10px;
    }
}